{
    "projectVersion": "${PROJECT_VERSION}",
    "authHost": "${APP_HOST}:${APP_PORT}/auth",
    "serverHost": "${APP_HOST}:${APP_PORT}/server",
    "hictClusterHost": "${APP_HOST}:${APP_PORT}/hict-cluster"
}
